  <fieldset>

  <h2>New Charity</h2>
</br>
</br>

  <!-- CHARITY TITLE -->
<div>
  <div class="form-group">
    <p>
      <label id="charity-label" for="charity-name">Charity name</label><br>
      <input id="charity-name" type="text" name="name" color="black" value="{{charity.name}}"/>
    </p>
  </div>


        <!-- CHARITY CAUSE -->

      <div class="form-group">
          <p>
              <label id="charity-label"for="charity-cause">Charity Cause</label><br>
              <input id="charity-cause" type="text" name="cause" value="{{charity.cause}}">
          </p>
      </div>


  <!-- CAHRITY DESCRIPTION -->
  <div class="form-group">
    <p>
      <label id="charity-label" for="review-description">Charity Description</label><br>
      <textarea id="charity-description" class="form-control" placeholder="Give some details about your charity..." name="description" rows="10" cols="20">{{charity.description}}</textarea>
    </p>
  </div>

</div>
</fieldset>
