  <fieldset>
  <legend>New Charity</legend>
  <!-- CHARITY TITLE -->
  <div class="form-group">
    <p>
      <label for="charity-name">Charity name</label><br>
      <input id="charity-name" type="text" name="name" value="{{charity.name}}"/>
    </p>
  </div>


        <!-- CHARITY CAUSE -->

      <div class="form-group">
          <p>
              <label for="charity-cause">Charity Cause</label><br>
              <input id="charity-cause" type="text" name="cause" value="{{charity.cause}}">
          </p>
      </div>


  <!-- CAHRITY DESCRIPTION -->
  <div class="form-group">
    <p>
      <label for="review-description">Charity Description</label><br>
      <textarea id="charity-description" class="form-control" placeholder="Give some details about your charity..." name="description" rows="10" cols="30">{{charity.description}}</textarea>
    </p>
  </div>

</fieldset>
