<fieldset>
<legend>New Donation</legend>
<!-- TITLE -->
<div class="form-group">
  <p>
    <label for="charity-name">Full Name</label><br>
    <input id="donation-name" type="text" name="donorName" value="{{donation.donorName}}"/>
  </p>
</div>




    <!-- DONATION AMOUNT -->

  <div class="form-group">
      <p>
          <label for="donation-amount">Donation Amount</label><br>
          <input id="donation-amount" type="number" name="amount" value="{{donation.amount}}">
      </p>
  </div>

  <div class="form-group">
      <label for="charity-date">Donation Date</label></div>
      <input id="donation-date" type="text" name="date" value="{{donation.date}}">
  </div>

  <!-- MESSAGE -->
  <div class="form-group">
    <p>
      <label for="review-description">Message</label><br>
      <textarea id="donation-message" class="form-control" placeholder="Any special message to the charity..." name="message" rows="10" cols="30">{{donation.message}}</textarea>
    </p>
  </div>
</fieldset>
