<div class="card">
  <div class="card-block">
    <h4 class="card-firstName">{{this.firstName}}</h4>
    <h4 class="card-lastName">{{this.lastName}}</h4>
    <h4 class="card-organization">{{this.organization}}</h4>
  </div>
</div>
