<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Free website so donate to charities"/>
    <meta name="keywords" content="charity, donation, unicef"/>
    <meta name="author" content="Medi Assumani"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title="Charitable"></title>
    
</head>
<body>

    <!-- Adding the Navigation Bar-->
    {{> navbar }}
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>