<h1>My Charities</h1>
<div class="text-right">
    <a href="/charities/new" class="btn btn-primary">Add Charity</a>
</div>

{{#each reviews}}
    <h2>{{this.title}}</h2>
    <small>{{this.amountDonated}}</small>
{{/each}}