body{
  background-color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

:link{
  color: none;
  text-decoration: none;
}

:visited{

}



p{

}


h1{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
}

h2{

}

h3{

}

h4{

}
